<div class="container">
  <div class="center row hero-unit">
    <div class="span3 pull-right">
      <img src="assets/rails.png" class="pull-right img-polaroid" />
    </div>
    <h1>IT4300 - Final Project</h1>
    <div class="span3">
      <h2>Ruby on Rails</h2>
    </div>
    <br />
  </div>
</div>
